Email Response.json
{
  "name": "Email Response",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e135111d-f2cf-416f-b0ee-1ef4bd3845f6",
              "name": "emailBody",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "f07cd48b-5225-4cde-b49d-ace191b3d373",
              "name": "threadID",
              "value": "={{ $json.threadId }}",
              "type": "string"
            },
            {
              "id": "6189c5c8-7603-4b13-b4a2-5c27645256f8",
              "name": "fromEmail",
              "value": "={{ $json.headers.from }}",
              "type": "string"
            },
            {
              "id": "c2f5bdfb-3b7f-4fff-8b87-24db1f512af3",
              "name": "fromSender",
              "value": "={{ $json.from.value[0].name }}",
              "type": "string"
            },
            {
              "id": "85edce7a-6cdf-4617-a04a-8b6000a97169",
              "name": "messageID",
              "value": "={{ $json.messageId }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -880,
        -32
      ],
      "id": "bc16c37a-7f64-451d-b55b-e2ed569e6dea",
      "name": "Set Content"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -1264,
        -32
      ],
      "id": "f3eed370-5dfd-42da-be81-ac409ce985c7",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "mXEy10xeKtJy5fSX",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an AI email classification assistant for SMB Travel and Tours.  \nYour job is to analyze incoming email content and classify it into a fixed category.  \nNever invent categories outside the list. Always return valid JSON.  \n\n## Step 1: Is the email visa-related?  \n- If it mentions visa, immigration, embassy, passport, requirements, processing, eligibility, fees, payment, biometrics, interview, or grant notice → mark as **visa-related**.  \n- Otherwise → mark as **non-visa related**.  \n\n## Step 2: If visa-related, classify into exactly one of these categories:  \n1. **Visa Requirements/Processing/Fees/FAQs** – Questions about required documents, application steps, timelines, embassy processing, or visa fees.  \n2. **Visa Assessment/Questionnaire** – Emails where the sender shares personal/financial/job/travel info for eligibility checks, or answers a questionnaire.  \n3. **Visa Payment** – Emails about payment instructions, receipts, invoices, refunds, or proof of payment.  \n4. **Other Visa Inquiries** – Any other visa-related queries (insurance, biometrics, scheduling, extension, embassy interview issues, corrections).  \n\nIf uncertain, always choose **Other Visa Inquiries**.  \n\n## Step 3: Confidence Score  \n- Assign a confidence score (0–100%) based on how certain you are about the classification.  \n- High confidence (80–100%) if the category is obvious.  \n- Medium confidence (50–79%) if partially clear but could overlap.  \n- Low confidence (0–49%) if unclear or ambiguous.  \n\n## Step 4: Output strictly in JSON:  \n```json\n{\n  \"isVisaRelated\": true/false,\n  \"category\": \"Visa Requirements/Processing/Fees/FAQs | Visa Assessment/Questionnaire | Visa Payment | Other Visa Inquiries | Non-Visa Related\",\n  \"categoryId\": 1-4,\n  \"confidence\": 0-100,\n  \"reasoning\": \"<short explanation why this category was chosen>\",\n  \"visaCountry\": \"country\",\n  \"emailBody\": \"email content\"\n}\n",
              "role": "system"
            },
            {
              "content": "=Here is the incoming email: {{ $json.emailBody }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -672,
        -32
      ],
      "id": "9773e71d-2dd1-4e51-b933-937782c55d1a",
      "name": "Analyze Email and Categorized",
      "credentials": {
        "openAiApi": {
          "id": "QuFQGsPklRzSZqzF",
          "name": "OpenAI SMB"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.content.isVisaRelated }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "6eeb7373-6b2d-4cd3-8d0e-da9a3edeb598"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=Visa Support"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "91f652da-77de-490e-b1ae-f8665b4e39c4",
                    "leftValue": "={{ $json.message.content.isVisaRelated }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Not Visa Support"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -352,
        -32
      ],
      "id": "65c2f9cb-1166-4f89-ac26-f6f0322982e7",
      "name": "Visa Related"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Analyze Email and Categorized').item.json.message.content.categoryId }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "54c7c456-289d-4728-906a-a0a64a1b170a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "faead10f-3936-41fc-a2e3-e3b0af1ba7a7",
                    "leftValue": "={{ $('Analyze Email and Categorized').item.json.message.content.categoryId }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "abba124c-6b5f-4743-9fe2-129644d0042a",
                    "leftValue": "={{ $('Analyze Email and Categorized').item.json.message.content.categoryId }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4d435ec7-d65c-42af-9eb5-a29e06e8589f",
                    "leftValue": "={{ $('Analyze Email and Categorized').item.json.message.content.categoryId }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -144,
        -256
      ],
      "id": "370fc50b-ba06-4936-87dd-c1208348ee5b",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -144,
        256
      ],
      "id": "7b26c830-3afc-423e-84e0-f2676b0dc4e4",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "getAll",
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1072,
        -32
      ],
      "id": "c4835a68-4d1f-4236-b374-879c2cb03575",
      "name": "Get all Email",
      "webhookId": "9c69b080-09ae-4fb3-8ec5-cefe7dfb36ce",
      "credentials": {
        "gmailOAuth2": {
          "id": "mXEy10xeKtJy5fSX",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KB8UaT5vnb1PuDZ9",
          "mode": "list",
          "cachedResultName": "Sub-Category 1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        320,
        -640
      ],
      "id": "5f3b78c4-73e6-4491-8828-d2479a02d37d",
      "name": "Call 'Sub-Category 1'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Q7vXh8tWmaFOOwIE",
          "mode": "list",
          "cachedResultName": "Sub-Category 2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        80,
        -432
      ],
      "id": "3fba8699-f08a-4e20-8faa-a5ff8248c894",
      "name": "Call 'Sub-Category 2'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "82c480c3-0e98-4162-98fe-5f911cb1a9ee",
              "name": "threadID",
              "value": "={{ $('Get all Email').item.json.id }}",
              "type": "string"
            },
            {
              "id": "57dd51f0-9cbb-4248-b798-528fb6aa51f9",
              "name": "messageID",
              "value": "={{ $('Get all Email').item.json.messageId }}",
              "type": "string"
            },
            {
              "id": "cee7e639-fee3-42af-a7d4-69bd3441747d",
              "name": "emailBody",
              "value": "={{ $json.message.content.emailBody }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -240
      ],
      "id": "61016067-a470-4c90-9c36-26f5d54883b6",
      "name": "Set Data 2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ecf88830-aa7e-4a58-a5b6-40b93cebbbb3",
              "name": "visaCountry",
              "value": "={{ $json.message.content.visaCountry }}",
              "type": "string"
            },
            {
              "id": "82c480c3-0e98-4162-98fe-5f911cb1a9ee",
              "name": "threadID",
              "value": "={{ $('Get all Email').item.json.id }}",
              "type": "string"
            },
            {
              "id": "57dd51f0-9cbb-4248-b798-528fb6aa51f9",
              "name": "messageID",
              "value": "={{ $('Get all Email').item.json.messageId }}",
              "type": "string"
            },
            {
              "id": "cee7e639-fee3-42af-a7d4-69bd3441747d",
              "name": "emailBody",
              "value": "={{ $json.message.content.emailBody }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -640
      ],
      "id": "1581f378-9904-4b8e-b2ce-bbe0980aafd4",
      "name": "Set Data 1"
    },
    {
      "parameters": {
        "content": "Retrieve all unread emails and check whether the email is related to Visa Questions or not",
        "height": 352,
        "width": 896,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1104,
        -160
      ],
      "typeVersion": 1,
      "id": "9137648d-f6b1-4283-ab91-33fe7ddae42b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Categorized the Email into 4\n1. If it is related to Visa Processing, Requirements, Fees, FAQ etc.\n2. If it is related to Visa Assessment or Questionnaire\n3. If it is related to Visa Payment ",
        "height": 720,
        "width": 784,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        -752
      ],
      "typeVersion": 1,
      "id": "495ab40f-9766-4642-9c04-3b6cd5968147",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.threadID }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        272,
        -240
      ],
      "id": "17c0665a-ce1f-420b-a081-db0ad4ab3040",
      "name": "Get a message",
      "webhookId": "cc028dbc-633c-437e-86ba-7110e6a47c80",
      "credentials": {
        "gmailOAuth2": {
          "id": "mXEy10xeKtJy5fSX",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "smbtravel.bryan@gmail.com",
        "subject": "={{ $json.headers.subject }}",
        "message": "=Hi Ma'am,\n\nGood Day! Endorsing you the payment of our client for visa.\n\nApplicant Name: {{ $json.from.value[0].name }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "attachment_0"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        464,
        -240
      ],
      "id": "86238df3-e4f2-430c-8643-35e7db046225",
      "name": "Send a message",
      "webhookId": "4fb8fe9f-1198-43d7-a947-23a4364647bd",
      "credentials": {
        "gmailOAuth2": {
          "id": "mXEy10xeKtJy5fSX",
          "name": "Gmail"
        }
      }
    }
  ],
  "pinData": {
    "Set Data 2": [
      {
        "json": {
          "threadID": "19a24e4eecadd2d3",
          "messageID": "<CADa9JVJ3OV11N+uXABN6YROY8NbHLBQEew=c8WJY42uQHj8_rA@mail.gmail.com>",
          "emailBody": "Hi,\n\nPlease refer to the attached file for my visa payment.\n\nThank you"
        }
      }
    ]
  },
  "connections": {
    "Set Content": {
      "main": [
        [
          {
            "node": "Analyze Email and Categorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get all Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Email and Categorized": {
      "main": [
        [
          {
            "node": "Visa Related",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Visa Related": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Set Data 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Sub-Category 2'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Data 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all Email": {
      "main": [
        [
          {
            "node": "Set Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Data 1": {
      "main": [
        [
          {
            "node": "Call 'Sub-Category 1'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Data 2": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0094a2f9-4ab0-4ca0-b4a1-263424fba15e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ec7e42c4f361972a8c80ab3ebd270266122f96d9ebf1a7569610656255d73898"
  },
  "id": "sslksskb5DKIUMUb",
  "tags": []
}